html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #9771e3;
  color: #fff;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  overflow: hidden;
}

::selection {
    background-color: #9771e3;
    color: #ffdf79;
    text-shadow: none;
}
::-moz-selection {
    background-color: #9771e3;
    color: #ffdf79;
}

body.fade {
    opacity: 0;
    transition: none;
}

.content {
  background: linear-gradient(316deg, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-size: 600% 600%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;

  -webkit-animation: gradientShift 18s ease infinite;
  -moz-animation: gradientShift 18s ease infinite;
  animation: gradientShift 18s ease infinite;
}


h1 {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-size: 4em;
  font-weight: 800;
  line-height: .8em;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

h2 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 5px 0;
}

h1, h2 {
  text-shadow: rgba(0, 0, 0, .2) 0 2px 3px;
}

.box
{
	margin: 0 2.2em;
	display: inline-block;
	height: 3.3em;
	width: 3.3em;
	line-height: 3.3em;
	color: white;
}

.dix
{
	text-align: center;
	vertical-align: middle;
	font-size: 2em;
	color: white;
	height: 3em;
	width: 3em;
	line-height: 3em;
	display: inline-block;
	border-radius: 20%;
	border-width: 0.03em;
	transition: 0.3s ease;
}

.box a
{
	text-decoration: none;
	color: inherit;
}

.dix:hover
{
	height: 3em;
	width: 3em;
	line-height: 3em;
	background-color: white;
	color: black;
	transition: 0.2s ease;
}

@media(max-width: 768px) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 1em;
    margin: 15px 0;
  }
  .content {
    padding: 20px;
    text-align: center;
  }
  .content, {
    max-width: 100%;
  }
}

@media(max-width: 768px)
{
  .ellipsis {
    display: none;
  }
}

@-webkit-keyframes gradientShift
{
  0%{background-position:24% 0;}
  50%{background-position:77% 100%;}
  100%{background-position:24% 0;}
}

@-moz-keyframes gradientShift
{
  0%{background-position:24% 0;}
  50%{background-position:77% 100%;}
  100%{background-position:24% 0;}
}

@keyframes gradientShift
{
  0%{background-position:24% 0;}
  50%{background-position:77% 100%;}
  100%{background-position:24% 0;}
}